<ng-container *ngIf="showReportIssue === false">
    <button class="btn btn-primary" (click)="showReportIssue = true" > Add new Issue </button>
    <clr-datagrid>
        <clr-dg-column [clrDgField]="'IssueNo'" [clrDgColType] = "'number'">
            Issue No
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'type'"> Type </clr-dg-column>
        <clr-dg-column [clrDgField]="'title'"> Title </clr-dg-column>
        <clr-dg-column [clrDgField]="'description'"> Description </clr-dg-column>
        <clr-dg-column [clrDgField]="'priority'"> Priority </clr-dg-column>
        <clr-dg-row *clrDgItems="let issue of issues">  <!--  A LOOP -->
            <clr-dg-cell>{{issue.IssueNo}}</clr-dg-cell>
            <clr-dg-cell>{{issue.type}}</clr-dg-cell>
            <clr-dg-cell>{{issue.title}}</clr-dg-cell>
            <clr-dg-cell>{{issue.description}}</clr-dg-cell>
            <clr-dg-cell> <span class="label" [class.label-danger] = "issue.priority === 'high'">{{issue.priority}}</span> </clr-dg-cell>
            <!-- IF THE PRIORIT IS EQUAL TO HIGH THEN THE LABEL SIGH DISPLAYS DANGER -->
        </clr-dg-row>
        <clr-dg-footer> {{issues.length}} issues </clr-dg-footer>
    </clr-datagrid>
</ng-container>
<app-issue-report *ngIf="showReportIssue === true" (formClose)="onCloseReport()"></app-issue-report>